$bgcolor: rgb(20, 20, 20);
$orange-color: rgb(255, 94, 0);
$orange-color-darker: rgb(202, 74, 0);
$dark-grey-color: rgb(27, 27, 27);
$navbar-dark-grey-color: rgba(27, 27, 27, 0.747);
$box-border-color: rgba(105, 105, 105, 0.329);
$box-border-color-navbar: rgba(105, 105, 105, 0.171);
$border-radius-default: 5px;

//color para probar: rgb(212, 51, 51);

* {
    margin: 0;
    padding: 0;
}

.align {
    text-align: center !important;
}

header {
    margin-bottom: 12vh;
}

.navbar-style {   
    backdrop-filter: saturate(200%) blur(7px);
    border-bottom: solid 1px $box-border-color-navbar;
    background: rgb(40,38,24);
    background: linear-gradient(95deg, rgba(40,38,24,0.17130602240896353) 29%, rgba(202,74,0,0.1741071428571429) 100%);
}

.navbar-dimensions {
    width: 80%;
    margin-left: 10%;
}

body {
    background-color: $bgcolor !important;
    font-family: 'Nunito', sans-serif !important;
    //color: black !important;
}

.maincontainer {
    width: 80%;
    margin-left: 10%;
}

h2, h3 {
    margin-bottom: 15px;
}

a {
    text-decoration: none !important;
    color: white !important;
}

img {
    border-radius: $border-radius-default;
}

.topMenu a {
    margin-left: 25px;
}

.topMenu a:hover,
.footer__navList a:hover {
    color: $orange-color !important;
}

.headerContainer {
    margin-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
    align-items: center;
    width: 100% !important;
}

.navbar {
    margin-bottom: -30px;
}

.siteName {
    color: $orange-color !important;
    font-size: 25px;
}

.margin {
    margin-top: 50px;

}

.footer {
    padding: 30px 20px;
    border: solid 1px $box-border-color;
    border-top-left-radius: $border-radius-default;
    border-top-right-radius: $border-radius-default;
    hr {
        margin: 30px 0;
    }
    &__navList {
        display: flex;
        list-style-type: none;
        a {
            margin-right: 30px;
        }    
    }
}

.footer-bg {
    background-color: $dark-grey-color;
}

.footerLegals {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.zoom img {
    transition: transform .2s;
    height: 314px;
}

.zoom img:hover {
    transform:scale(1.2);
}

.modal-styles {
    background-color: $dark-grey-color !important;
    border: solid 1px $box-border-color !important;
}

.modal-button {
    background-color: $orange-color !important;
    border: none !important;
    width: 40%;
}

.modal-button:hover {
    background-color: $orange-color-darker !important;
}

@media only screen and (max-width : 430px) {
    /* Styles */
    .footer__navList {
        display:block;
    }

    .footerLegals {
        display:block;
    }

    .navbar {
        margin-bottom: -10px;
    }
}
